html,body {
	width: 100%;
	height: 100%;

}

#container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

@-webkit-keyframes dont_move{
	0% {top: 0px; left: -600px; top: 5%; color: white; font-size: 130px;}
	100% {top: 0px; left: 5%; top: 5%; color: white; font-size: 130px;}
}

#dont {
	position:absolute;
	-webkit-animation: dont_move 1s forwards;
	cubic-bezier (1,0,0,1);
	font-family: "arial";
}


@-webkit-keyframes callyour_move{
	0% {top: 0px; left: 2000px; top: 30%; color: white; font-size: 80px;}
	100% {top: 0px; left: 25%; top: 30%; color: white; font-size: 80px;}
}

#callyour {
	position:absolute;
	-webkit-animation: callyour_move 1s forwards;
	cubic-bezier (1,0,0,1);
	left: 2000px;
	width: 500px;
	font-family: "arial";
	animation-delay: 1s;
}


@-webkit-keyframes kids_move{
	0% {top: 0px; left: -600px; top: 40%; color: white; font-size: 130px;}
	100% {top: 0px; left: 5%; top: 40%; color: white; font-size: 130px;}
}

#kids {
	position:absolute;
	-webkit-animation: kids_move 1s forwards;
	cubic-bezier (1,0,0,1);
	left: -2000px;
	font-family: "arial";
	animation-delay: 2s;
}


@-webkit-keyframes smart_move{
	0% {left: 2000px; top: 65%; color: white; font-size: 140px;}
	100% {left: 25%; top: 65%; color: white; font-size: 140px;}
}

#smart {
	position:absolute;
	-webkit-animation: smart_move 1s forwards;
	cubic-bezier (1,0,0,1);
	left: 2000px;
	font-family: "arial";
	animation-delay: 3s;
}

@-webkit-keyframes p1_move{
	0% {top: 0px; top: -1000px;  right: 5%; color: white; font-family: sans-serif; font-size: 30px;}
	40% {top: 0px; top: -500px;  right: 5%; color: white; font-family: sans-serif; font-size: 30px;}
	100% {position: absolute; top: 5%; right: 5%; color: white; font-family: sans-serif; font-size: 30px;}
}

#p1 {
	position:absolute;
	-webkit-animation: p1_move 1s forwards;
	cubic-bezier (1,0,0,1);
	width: 480px;
	height: 150px;
	text-align: center;
	animation-delay: 4s;
	top: -1000px;
}

@-webkit-keyframes bulb_move{
	0% {bottom: -1000px;  right: 15%;}
	40% {bottom: -500px;  right: 15%;}
	100% {position: absolute; bottom: 5%; right: 15%;}
}

#bulb {
	position:absolute;
	-webkit-animation: bulb_move 1s forwards;
	cubic-bezier (1,0,0,1);
	animation-delay: 4s;
	bottom: -1000px;
	height: 300px;
	width: auto;
}

@-webkit-keyframes circle_move{
	0% {width: 0px; height: 0px; border-radius: 100%; top: 330px; right: 250px;}
	100% {width: 2200px; height: 2200px; border-radius: 0%; top: -750px;
		right: -150px;}
}

#circle {
	position: absolute;
	-webkit-animation: circle_move 4s forwards;
  width: 0px;
  height: 0px;
  background: #ffeb5a;
  border-radius: 100%;
	top: 330px;
	right: 250px;
	-webkit-transition: 0.3s;
	animation-delay: 12s;
}

@-webkit-keyframes colorblock1_move{
	0% {background-color: #404096;}
	100% {background-color: #43cbff;}

}

.colorblock1{
	background-color: #404096;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: colorblock1_move 1s forwards;
	animation-delay: 4.5s;
}



@-webkit-keyframes image_move{
	0% {opacity: 0;}
	100% {opacity: 1; }
}

#image{
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	opacity: 0;
	position: absolute;
	background: url(../pictures/study1.jpg);
	background-blend-mode: screen;
	background-color: orange;
	background-size: 100% auto;
	-webkit-animation: image_move 2s forwards;
	animation-delay: 0s;
	background-repeat: no-repeat;
}



@-webkit-keyframes top_grow {
	0% { width: 200px; height: 200px; opacity: 0;}
	100% { width: 600px; height: 600px; opacity: 1;}
}

#top {
	width: 100%;
	height: 100%;
	opacity: 0;
	background: url(../pictures/study1.jpg);
	background-repeat: no-repeat;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: top_grow 2s forwards;
	animation-delay: 0s;
}


@-webkit-keyframes p2_move{
	0% {top: 0px; top: -1000px;  right: 150px; color: #404096; font-family: sans-serif; font-size: 30px;}
	40% {top: 0px; top: -500px;  right: 150px; color: #404096; font-family: sans-serif; font-size: 30px;}
	100% {position: absolute; top: 150px; right: 150px; color: #404096; font-family: sans-serif; font-size: 30px;}
}

#p2 {
	position:absolute;
	-webkit-animation: p2_move 1s forwards;
	cubic-bezier (1,0,0,1);
	width: 480px;
	height: 150px;
	text-align: center;
	z-index: 1;
	animation-delay: 14s;
	top: -1000px;
}


@-webkit-keyframes p2p_move{
	0% {top: 0px; top: -1000px;  right: 150px; color: white; font-family: sans-serif; font-size: 30px;}
	40% {top: 0px; top: -500px;  right: 150px; color: white; font-family: sans-serif; font-size: 30px;}
	100% {position: absolute; top: 150px; right: 150px; color: white; font-family: sans-serif; font-size: 30px;}
}

#p2p {
	position:absolute;
	-webkit-animation: p2p_move 1s forwards;
	cubic-bezier (1,0,0,1);
	width: 480px;
	height: 150px;
	text-align: center;
	animation-delay: 14s;
	top: -1000px;
	text-shadow: 0.3em 0.3em 0.4em orange;


}

@-webkit-keyframes p3_move{
	0% {top: -1000px; right: 400px; color: white; font-family: sans-serif; font-size: 60px;}
	40% {top: -500px; right: 400px; color: white; font-family: sans-serif; font-size: 60px;}
	100% {position: absolute; right: 400px; color: white; font-family: sans-serif; font-size: 60px;}
}

#p3 {
	position:absolute;
	-webkit-animation: p3_move 3s forwards;
	cubic-bezier (1,0,0,1);
	width: 600px;
	height: 150px;
	text-align: center;
	animation-delay: 20s;
	z-index: 2;
	color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


@-webkit-keyframes puzzle_move{
	0% {opacity: 0; -webkit-transform: rotate(0deg); right: -500px; top: 70%;}
	90% {opacity: 1; -webkit-transform: rotate(360deg); }
	100% {opacity: 1; -webkit-transform: rotate(360deg); right: 43%; top: 70%;}
}

#puzzle{
	opacity: 0;
	position: absolute;
	-webkit-animation: puzzle_move 3s forwards;
	animation-delay: 20s;
	z-index: 2;
	transform: translate(-50%, -50%);
}



@-webkit-keyframes square_move{
	0% { background-color: #404096; top: -3000px}
	100% {background-color: #404096; top: 0px}
}

.square{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-animation: square_move 3s forwards;
	animation-delay: 20s;
	z-index: 1;
}

@-webkit-keyframes square2_move{
	0% { background-color: #43cbff; left: -3000px}
	100% {background-color: #43cbff; left: 0px}
}

.square2{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-animation: square2_move 3s forwards;
	animation-delay: 24s;
	z-index: 3;
}

@-webkit-keyframes p4_move{
	0% {left: -3000px;  color: white; font-family: sans-serif; font-size: 40px;}
	100% {position: absolute; color: white; font-family: sans-serif; font-size: 40px;}
}

#p4 {
	-webkit-animation: p4_move 2s forwards;
	cubic-bezier (1,0,0,1);
	width: 600px;
	height: 250px;
	text-align: center;
	animation-delay: 25s;
	color: transparent;
	z-index: 4;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



@-webkit-keyframes colorblock2_move{
	0% {background-color: transparent;}
	100% {background-color: #ffeb5a;}

}

.colorblock2{
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: colorblock2_move 1s forwards;
	animation-delay: 32s;
	z-index: 5;
}

@-webkit-keyframes p5_move{
	0% {top: -1000px; color: #5a41d6; font-family: sans-serif;}
	100% {	top: 50%; position: absolute;  color: #5a41d6; font-family: sans-serif;}
}

#p5 {
	position:absolute;
	-webkit-animation: p5_move 3s forwards;
	cubic-bezier (1,0,0,1);
	width: 600px;
	height: 250px;
	text-align: center;
	animation-delay: 32s;
	color: transparent;
	font-size: 50px;
	z-index: 6;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -70%);

}

@-webkit-keyframes bulb2_move{
	0% {bottom: -1000px;}
	100% {top: 50%;	opacity: 1;}
}

#bulb2 {
	position:absolute;
	-webkit-animation: bulb2_move 1s forwards;
	cubic-bezier (1,0,0,1);
	animation-delay: 31s;
	height: 600px;
	left: 20%;
	opacity: 0;
	top: 50%;
	z-index: 6;
	transform: translate(-50%, -20%);
}

/*
FOR PORTFOLIO SITE! :D
@-webkit-keyframes dont_move{
	0% {top: 0px; color: white; font-family: sans-serif; font-size: 200px;}
	100% {top: 300px;}
}

#dont {
	position:absolute;
	-webkit-animation: dont_move 1s alternate infinite;
	cubic-bezier (1,0,0,1);
}
*/
